<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="app">
      <h2>Daftar Pekerjaan:</h2>
      <input type="text" placeholder="tambah pekerjaan" v-model="newTask" />
      <button @click="addTask">Add</button>
      <button v-on:click="switchChanged()" v-if="done">Finished</button>
      <button v-on:click="switchChanged()" v-else>Unfinished</button>
      <ul>
          <li v-for="item in tasks">
            <b>{{ item.task }}</b>
          </li>
      </ul>
      </div>

  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
      var app = new Vue({
            el: '#app',
            data: {
              newTask: "",
              done: true,
              tempTasks:[],
              todolists: [
            {'done': true, task: "Belajar Vuejs di Petani Kode"},
            {'done': false, task: "Siram tanaman di kebun"},
            {'done': false, task: "Beli bibit kopi"},
        ]
      },
      computed : {
        tasks: function(){
          this.tempTasks = this.todolists.filter(this.filterTasks)
          return this.tempTasks
        }
      },
      methods: {
        switchChanged : function(){
          this.done = !this.done
        },
          addTask: function(){
              this.todolists.push({'done': this.done, 'task': this.newTask});
              this.newTask = "";
          },
          filterTasks: function(todolists){
            return todolists.done == this.done
          }
        }
})

  </script>
</body>
</html>