<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Input Binding</title>
    
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

   <div id="app">
    <input type="text" placeholder="ketikkan kata kunci" v-model="search">
    <ul>
      <li v-for="data in filtered()" :key="data">
        {{ data }}
      </li>
    </ul>
   </div>
        
   <script>
    const { createApp, ref } = Vue

  const App = {
  setup() {
    let search = ref('')
    const books= [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
                ]
    function filtered() {
      return books.filter(data => data.toLowerCase().includes(search.value.toLowerCase()))
    }
    
    return {search, filtered}
  }
  }

Vue.createApp(App).mount('#app')

           
         
   </script>
</body>
</html>

