<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="app">
      <input type="text" v-model="newTask" />
      <button @click="addTask">Add</button>
      <ul>
          <li v-for="item in tasks">
            <b>{{ item.name }}</b>
              <button v-on:click="Update()">Edit</button> ||
          <button v-on:click="Delete()" >Delete</button>
          </li>
      </ul>
      </div>

  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
      var app = new Vue({
            el: '#app',
            data: {
              newTask: "",
              tempTasks:[],
              users: [
            {'name': 'Muhammad Iqbal Mubarok'},
            {'name': 'Ruby Puranti'},
            {'name': 'Faqih Muhammad'},
        ]
      },
      computed : {
        tasks: function(){
          this.tempTasks = this.users
          return this.tempTasks
        }
      },
      methods: {
        Delete : function(){
          this.users = prompt("Anda Yakin?");
        },
          addTask: function(){
              this.users.push({ 'name': this.newTask});
              this.newTask = "";
          },
          
          Update : function(){
            this.users.put({ 'name': this.users});
          },

        }
})

  </script>
</body>
</html>

